/* General style for dots. */
svg.dot {
    /* Default size and color. */
    fill: var(--dark);
    height: var(--row-total-size);
    margin-top: 1px;
    margin-right: 0.4em; /* DEBUG */

    /* Style for lines. */
    line {
        stroke: var(--dark);
        stroke-width: calc(
            100% * var(--stroke-units) / var(--dot-units)
        );
        stroke-linecap: round;
    }

    /* Style for SVG text. */
    text {
        text-anchor: middle;
        dominant-baseline: central; /* gives a warning because it's an SVG-only attribute */
        font-weight: bold;
    }

    /* Color selection. */
    .light {
        fill: var(--light);
    }
    .red {
        fill: #f00;
    }
    .yellow {
        fill: #ff0;
    }
    .green {
        fill: #0f0;
    }
    .cyan {
        fill: #0ff;
    }
    .blue {
        fill: #00f;
    }
    .magenta {
        fill: #f0f;
    }
}
