/* Fix heights for inputs. */
button, input {
    padding-top: 0;
    padding-bottom: 0;
}
select {
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    padding-left: 2px;
    padding-right: 2px;
}

/* Effects for inputs. */
button, input, select {
    width: 100%;
    margin-right: 0.1rem;
    background-color: var(--light-bg);
    border-color: var(--border);
    border-style: solid;
    border-radius: 0.2rem;
    color: var(--dim-text);
}
button.mini {
    width: 1.6rem;
    font-size: small;
    color: transparent;
    text-shadow: 0 0 0 var(--dim-text)
}
button.song-button {
    background-color: transparent;
    border-color: transparent;
    border-radius: 0.5rem;
    color: white;
    padding: 0;
}
button.move {
    display: flex;
    align-items: center;
    width: auto;
    padding: 0;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    border-width: 0;
    border-color: transparent;
    background-color: transparent;
    color: var(--border);
}

/* Effects for hovered/focused inputs. */
button:hover, button:focus, input:focus, select:focus {
    background-color: var(--border);
    border-color: var(--border);
    color: var(--dim-text);
}
button.mini:hover, button.mini:focus {
    color: transparent;
    text-shadow: 0 0 0 var(--dim-text)
}
button.song-button:hover, button.song-button:focus {
    background-color: var(--light-bg);
    border-color: transparent;
    color: white;
}
button.move:hover, button.move:focus {
    background-color: transparent;
    border-color: transparent;
    color: var(--border);
}

/* Effects for selected buttons. */
button.selected {
    background-color: var(--highlight);
    border-color: var(--highlight);
    color: var(--dim-text);
}
button.mini.selected {
    color: transparent;
    text-shadow: 0 0 0 var(--dim-text);
}
button.song-button.selected, button.song-button:active {
    background-color: var(--highlight);
    border-color: transparent;
    color: white;

    span.tag {
        background-color: var(--bright-highlight);
    }
}

/* Effects for clicked buttons. */
button:active {
    background-color: var(--bright-highlight);
    border-color: var(--bright-highlight);
    color: white;
}
button.mini:active {
    color: transparent;
    text-shadow: 0 0 0 white;
}
button.move:active {
    background-color: var(--border);
    border-color: transparent;
    color: var(--dim-text);
}


/* Effects for disabled buttons. */
button:disabled {
    background-color: var(--light-bg);
    border-color: var(--border);
    color: var(--border);
}
button.mini:disabled {
    border-color: var(--border);
    color: transparent;
    text-shadow: 0 0 0 var(--border);
}

/* Highlight text colors. */
label, p {
    color: var(--dim-text);
}
span.emph, input, select, input:focus, select:focus {
    color: white;
}
span.emph {
    font-weight: bold;
}
