/* Declare variables. */
:root {
    --dark: #444;
    --light: #ccc;
    --link: #99f;
    --line-height: 1.2;
    --content-size: round(1em * var(--line-height), 1px);
    --gap-size: 0.5rem;
}

/* Document colors and text. */
body {
    display: flex;
    justify-content: center;
    background-color: black;
}

/* Sizing and text styling for tree. */
div.tree {
    width: 100%;
    max-width: 60rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: var(--light);
    line-height: var(--line-height);
    font-family: Arial, Helvetica, sans-serif;
}

/* Sizing for nodes. */
div.node {
    margin-top: var(--gap-size);
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

/* Arrange content and child nodes. */
div.items {
    flex-grow: 1;
    margin-left: var(--gap-size);
    display: flex;
    flex-direction: column;
}

/* General style for dots. */
svg.dot {
    min-width: var(--content-size);
    width: var(--content-size);

    /* Style for SVG text. */
    text {
        text-anchor: middle;
        dominant-baseline: central; /* VS Code gives a warning because it's an SVG-only attribute */
        font-weight: bold;
    }

    /* Style for lines. */
    line {
        stroke: var(--dark);
        stroke-linecap: round;
    }

    /* Color selection. */
    fill: var(--dark);
    .light {
        fill: var(--light);
    }
    .red {
        fill: #f00;
    }
    .yellow {
        fill: #ff0;
    }
    .green {
        fill: #0f0;
    }
    .cyan {
        fill: #0ff;
    }
    .blue {
        fill: #00f;
    }
    .magenta {
        fill: #f0f;
    }
}
